/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth; /* Rolagem suave */
}

section {
  scroll-margin-top: 80px; /* Margem para compensar o header */
}

.limitar-secao {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
.realce-azul {
  color: #2f86d6;
  font-weight: bold;
}

.realce-azul .reduzido {
  font-size: smaller;
}

/* CABECALHO */
.cabecalho {
  height: 80px;
  width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titulo {
  font-weight: bold;
  font-size: 18px;
}
.container-logo img {
  width: 60px;
  height: 60px;
}

.texto-logo-alfatech {
  display: flex;
  flex-flow: column;
  text-align: left;
  justify-content: center;
  padding-left: 10px;
}

.container-logo {
  display: flex;
  padding: 15px 0;
}

.menu {
  display: flex;
  gap: 15px;
}
.menu li {
  list-style-type: none;
  text-transform: uppercase;
}

.menu a:link,
.menu a:visited {
  color: #233032;
  font-weight: 700;
}

.menu a:hover,
.menu a:active {
  color: #2f86d6;
  font-weight: 700;
}

/* BANNER */
.banner {
  background-color: #2f86d6;
}

.banner,
.conteiner-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteiner-banner {
  width: 1024px;
  display: flex;
  gap: 10px;
}

.box-texto-banner {
  color: #f1f3f7;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.box-texto-banner h2 {
  font-size: 28px;
}

.box-imagem-banner {
  width: 50%;
  padding-right: 40px;
}

/* PRIMEIRO ANUNCIO */

/*------ AMBAS AS SESSOES DE ANUNCIO -----------------*/
.anuncio {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 100px;
  padding: 40px 0;
  line-height: 30px;
  width: 100%;
}

.link-anuncio {
  padding: 10px 15px;
  border-radius: 5px;
}
/*-----------------------------------------------------*/

.primeiro-anuncio {
  background-color: #233032;
  color: #fff;
}

.link-precos-1 {
  background-color: #2f86d6;
  font-weight: 700;
}

.link-precos-1 a:link,
.link-precos-1 a:visited {
  color: #fff;
}

.link-precos-1 a:hover,
.link-precos-1 a:active {
  color: #233032;
}

/* INFORMACOES*/
.informacoes {
  background-color: #fff;
  padding-bottom: 40px;
  width: 1024px;
}

.titulo-informacoes {
  text-align: center;
  padding: 40px 0;
  line-height: 30px;
}

.container-informacoes {
  display: flex;
  flex-flow: row;
  padding: 0 20px;
}

.box-informacoes img {
  width: 100px;
  height: 100px;
}

.box-informacoes {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

/* PLANOS */
.planos {
  background-color: #f1f3f7;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}

.container-tabela {
  box-shadow: 0 0 30px 5px rgba(47, 134, 214, 1);
  border-radius: 5px;
  margin-top: 30px;
}

.tabela-precos {
  border-collapse: collapse;
  width: 1024px;
  padding: 20px 10px;
}

.tabela-precos th {
  padding: 5px;
}

.tabela-precos td {
  padding: 20px;
  border: solid 0.5px #c6c6c6;
}

/*.tabela-precos td {
  border: solid 1px #a89f9f;
}*/

.tabela-precos .icone-tabela {
  width: 90px;
  height: 90px;
}

.realce-tabela {
  font-size: smaller;
  color: #a89f9f;
}

.tabela-precos {
  text-align: center;
}

/* SEGUNDO ANUNCIO */
.segundo-anuncio {
  background-color: #2f86d6;
  color: #fff;
}

.link-precos-2 {
  background-color: #233032;
  font-weight: 700;
}

.link-precos-2 a:link,
.link-precos-2 a:visited {
  color: #fff;
}

.link-precos-2 a:hover,
.link-precos-2 a:active {
  color: #2f86d6;
}

/* CONTATO */
.contato {
  margin: 30px 0;
}

.container-contato {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* RODAPE */

.rodape {
  background-color: #f1f3f7;
  padding: 10px 0;
}

.rodape p,
.realce-rodape {
  font-size: 16px;
  text-align: center;
  font-weight: 700;
}
